header {
    background-color: grey;
    
}

a:link {
    color: teal;
}

.header {
    display: flex;
    text-align: left;
    background-color: teal;
    color: grey;
    display: block;
}


ul, li, a {
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    
}

li, a {
    margin: 5px;
}

.headers {
    display: flex;
    text-align: left;
}


.project1 {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  position: relative;
  align-items: center;
  transition: all 0.5s ease-in-out;
}


 .otherprojects {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 25%;
    position: relative;
    align-items: center;
    transition: all 0.5s ease-in-out;
    grid-template-columns: auto;
}

img {
    border: 5px solid blue;
}

.link1{
  background: url("https://drtun25.github.io/u-hiker-project-1/");
}

.link2{
  background: url("https://ghastly-fangs-36933.herokuapp.com/");
}

.link3{
  background: url("https://notetakertune.herokuapp.com/");
}


img:hover,
.project1:hover, .otherprojects:hover {
    box-shadow: inset 0px 0px 5px grey, 0 0 12px grey;
}

@media screen and (min-width: 769px) {
   .project1, .otherprojects  {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
  }

  @media screen and (min-width: 992px) {
    header, .header {
      width: 100%;
    }
  
    .project1, .otherprojects {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  

